name: template-rendering

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install j2cli[yaml]
          
      - name: Render version templates
        run: |
          j2 ".templates/README.j2" "version.yaml" --filters ".templates/filters.py" -o "README.md"
          for file in $(ls -1 .templates/scripts); do
            j2 ".templates/scripts/${file}" "version.yaml" --filters ".templates/filters.py" -o "scripts/${file%.*}.sh"
          done
        
      - name: Commit files
        run: |
          LATEST_COMMIT_MESSAGE=$(git log --pretty=format:'%B' | head -n 1)
          LATEST_COMMITTER=$(git log --pretty=format:'%an' | head -n 1)
          git config --local user.name "${LATEST_COMMITTER}"
          git add README.md scripts/
          git commit -m "${LATEST_COMMIT_MESSAGE}"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
          
          
          
          
          

